.my_custom_icons .fw-iconbox-image i {
	font-size: 60px
}
* {
	transition: 0.3s all;
}

a:visited, a {
    color: #5a5663
}

li.current-menu-item a, a:active, a:hover {
    color: #d8aa7c
}

.custom-logo-link {
	/*position: absolute;*/
    width: 110%
}

.sb-head-top {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee 
}

header#masthead {
	min-height : 135px
}

.fw-row.sb-top {
	padding-top: 10px;
}

.sb-left li.menu-item {
	display: inline-block
}
.sb-left ul#menu-contacts {
	margin:0;	
    padding: 0
}
.sb-left li.menu-item a{
	text-decoration: none
}

.sb-right li.menu-item {
	display: inline-block
}.sb-right ul#menu-social {
	text-align: right
}
.sb-right li.menu-item a{
	text-decoration: none
}
.sb-right li.menu-item a span{
	display: none
}

#site-navigation {
    text-align: center;
}
#site-navigation li {
     float: none; 
    position: relative;
    display: inline-block;
    padding: 7px 10px;
}

.hero-item {
    padding: 20px 0 45px;
	color: #f0f0f0
}
.hero-item-image {
    margin-bottom: -7px
}

#main-hero div{
	margin:0;	
    padding: 0
}

.o-bttn {
	cursor: pointer;
	padding: 15px 20px;
    background: #3a4aab;
    color: white;
    font-weight: 700;
    border-radius: 32px;
}

#about .swiper-container{
	position: relative;
	right: -15px;
    padding-top: 3%;
}

.swiper-container .swiper-pagination,
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
	opacity: 0!important;
	transition: opacity 0.35s, transform 0.35s;
}

.swiper-container:hover .swiper-pagination,
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
	opacity: 1!important;
	transform: translate(0, 0);
}